#override #navbar {
  position: fixed;
}

#override .navbar {
  background-color: #181818;
  height: 7vh;
}

#override .navbar-brand {
  color: #4CC9F0;
  font-size: 1.8rem;
  font-weight: 500;
}

@media (min-width: 420px) {
  #override .navbar-brand {
    font-size: 2rem;
    padding-top: 0;
  }
}

#override .nav-link {
  color: #f72585;
  font-weight: 500;
}

#override #navbarNav {
  margin-right: 10%;
}

#override .navbar-nav {
  margin-right: 10rem;
  font-size: 1.3rem;
  background-color: #181818;
}

#override .navbar-toggler-icon {
  background-color: #181818;
}

#override .git-icon {
  margin-left: 10px;
}

#override #projects {
  position: relative;
  top: -50px;
}

#override .prof-pic-div, #override .prof-pic {
  height: 40vh;
  width: 100vw;
  margin: 10px auto;
  margin-top: 3vh;
}

@media (min-width: 768px) {
  #override .prof-pic-div, #override .prof-pic {
    width: 55vw;
    height: 70vh;
  }
}

#override .about-p {
  margin: auto;
}

@media (min-width: 1024px) {
  #override .about-p {
    margin: auto 3vw;
  }
}

#override .bot-border, #override .bot-border-div {
  display: block;
  margin-bottom: 0px;
  margin-top: auto;
  padding: 0px;
  height: 30vh;
  position: absolute;
  bottom: 0px;
}

@media (max-width: 768px) {
  #override .bot-border, #override .bot-border-div {
    display: none;
  }
}

#override .about-wrap {
  height: 100vh;
  position: relative;
}

@media (max-width: 768px) {
  #override .about-wrap {
    height: auto;
  }
}

#override .projects-header {
  display: block;
  font-size: 55px;
  margin: 0 auto;
}

#override .grid-div {
  width: 100vw;
  margin: 0 auto;
  padding: 0px;
}

@media (min-width: 420px) {
  #override .grid-div {
    width: 95vw;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  #override .grid-div {
    width: 80vw;
    margin: 0 auto;
  }
}

@media (max-width: 768) {
  #override .proj-col {
    margin: 10px 0px;
    padding: 0px;
  }
}

#override .card-img-top {
  display: block;
}

#override .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#override .card {
  width: 100%;
  margin: 0px;
}

#override .card-btn {
  display: block;
  margin: auto auto 1px auto;
  width: 150px;
  background-color: #f72585;
  border: none;
}

#override .contact-header {
  font-size: 55px;
}

#override .contact-header-div {
  margin: 5vh auto;
}

#override .contact-div {
  width: 80vw;
  margin: 5vh auto;
}

@media (min-width: 768px) {
  #override .contact-div {
    width: 65vw;
    margin: 5vh auto;
  }
}

@media (min-width: 1024px) {
  #override .contact-div {
    width: 50vw;
    margin: 5vh auto;
  }
}

#override .form-btn {
  margin: 20px auto;
  width: 35vw;
  color: #4CC9F0;
  border-color: #4CC9F0;
}

#override input {
  height: 3rem;
  background-color: lightgray;
  border: solid 0.1px grey;
}

#override input::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

#override input:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

#override input::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

#override input::placeholder {
  color: black;
  opacity: 1;
}

#override .first-row-contact {
  --bs-gutter-x: 1.5rem;
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

#override .first-row-contact input {
  width: 100%;
}

@media (min-width: 768px) {
  #override .first-row-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#override .message {
  height: 8rem;
}

#override .first-row-items::-webkit-input-placeholder {
  padding-left: 12px;
}

#override .first-row-items:-ms-input-placeholder {
  padding-left: 12px;
}

#override .first-row-items::-ms-input-placeholder {
  padding-left: 12px;
}

#override .first-row-items::placeholder {
  padding-left: 12px;
}

#override .contact-text {
  font-size: 28px;
}

#override {
  background-color: #1d1d1d;
  font-family: 'Raleway', sans-serif;
}

#override p {
  color: white;
  font-size: 1.3rem;
}

#override h1 {
  color: #4CC9F0;
}

#override .container-fluid {
  padding: 0px;
}

#override .shadows-text {
  -webkit-animation-name: animation;
          animation-name: animation;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  border: none;
}

@-webkit-keyframes animation {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0px 0px 20px white;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes animation {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0px 0px 20px white;
  }
  100% {
    text-shadow: none;
  }
}

#override .header-div, #override .contact-header-div {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b5179e), to(#f72585));
  background-image: linear-gradient(#b5179e, #f72585);
  height: 16vh;
}
/*# sourceMappingURL=styles.css.map */