#override .navbar {
  background-color: #181818;
  height: 10vh;
}

#override .navbar-brand {
  color: #4CC9F0;
  font-size: 1.8rem;
  font-weight: 500;
}

@media (min-width: 420px) {
  #override .navbar-brand {
    font-size: 3rem;
  }
}

#override .nav-link {
  color: #f72585;
  font-weight: 500;
}

#override #navbarNav {
  margin-right: 10%;
}

#override .navbar-nav {
  margin-right: 10rem;
  font-size: 1.3rem;
  background-color: #181818;
}

#override .navbar-toggler-icon {
  background-color: #181818;
}

@media (min-width: 420px) {
  #override .navbar-brand {
    font-size: 2rem;
    padding-top: 0;
  }
}

#override .prof-pic-div, #override .prof-pic {
  width: 100vw;
  margin: 10px auto;
}

@media (min-width: 768px) {
  #override .prof-pic-div, #override .prof-pic {
    width: 50vw;
  }
}

#override .bot-border, #override .bot-border-div {
  margin: 0;
  margin-top: -20px;
  padding: 0px;
  z-index: -1;
  height: 30vh;
}

#override .about {
  padding: 0px;
}

#override .projects-header {
  display: block;
  font-size: 55px;
  margin: 0 auto;
}

#override .grid-div {
  width: 80vw;
  margin: 0 auto;
}

#override .card-img-top {
  display: block;
}

#override .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#override .card-btn {
  display: block;
  margin: auto auto 1px auto;
  width: 150px;
  background-color: #f72585;
  border: none;
}

#override .contact-header {
  font-size: 55px;
}

#override .contact-header-div {
  margin: 5vh auto;
}

#override .contact-div {
  width: 80vw;
  margin: 5vh auto;
}

@media (min-width: 768px) {
  #override .contact-div {
    width: 65vw;
    margin: 5vh auto;
  }
}

@media (min-width: 1024px) {
  #override .contact-div {
    width: 50vw;
    margin: 5vh auto;
  }
}

#override .form-btn {
  margin: 20px auto;
  width: 35vw;
  color: #4CC9F0;
  border-color: #4CC9F0;
}

#override input {
  height: 3rem;
  background-color: grey;
}

#override input::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

#override input:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

#override input::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

#override input::placeholder {
  color: black;
  opacity: 1;
}

#override .first-row-contact {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

@media (min-width: 768px) {
  #override .first-row-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#override .first-row-items {
  width: 50%;
}

#override .message {
  height: 8rem;
}

#override {
  background-color: #1d1d1d;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

#override p {
  color: white;
  font-size: 1.3rem;
}

#override h1 {
  color: #4CC9F0;
}

#override .container-fluid {
  padding: 0px;
}

#override .shadows-text {
  -webkit-animation-name: animation;
          animation-name: animation;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  border: none;
}

@-webkit-keyframes animation {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0px 0px 20px white;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes animation {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0px 0px 20px white;
  }
  100% {
    text-shadow: none;
  }
}

#override .header-div, #override .contact-header-div {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b5179e), to(#f72585));
  background-image: linear-gradient(#b5179e, #f72585);
  height: 16vh;
}

#override input {
  padding: 0px;
  margin: 0px;
}
/*# sourceMappingURL=styles.css.map */