#override{

.prof-pic-div, .prof-pic{
    width:100vw;
    margin:10px auto;
    @media (min-width:768px){
            width:50vw;
    }
}

.bot-border, .bot-border-div{
    margin:0;
    padding:0px;
    height:30vh;
}

.about{
    padding:0px;
}
}