#override{
    .contact-header{
        font-size: 55px;
    }
    .contact-header-div{
        margin:5vh auto;
    }
    
    .contact-div{
        width:80vw;
        margin:5vh auto;
    
        @media(min-width:768px){
            width:65vw;
            margin:5vh auto;
        }
        @media(min-width:1024px){
            width:50vw;
            margin:5vh auto;
        }
    }
    .form-btn {
        margin: 20px auto;
        width: 35vw;
        color:$light-blue;
        border-color:$light-blue;
    }
    input{
        height:3rem;
        background-color: lightgray;
        border:solid 0.1px grey;
        &::placeholder{
            color:black;
            opacity:1;
        }
    }
    .first-row-contact {
        --bs-gutter-x: 1.5rem;
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        & input {
          width: 100%;
        }
        @media (min-width: 768px) {
          flex-direction: row;
        }
      }
      .message{
        height:8rem;
    }
    .first-row-items::placeholder{
        padding-left:12px;
    }
    }