$dark-purple3:  #10002B;
$dark-purple2:  #240046;
$dark-purple1:  #3C096C;
$light-purple2: #7B2CBF;
$light-purple1: #9D4EDD;

$dark-oragne2:  #FF6D00;
$dark-orange1:  #FF7900;
$light-orange2: #FF9100;
$light-orange1: #FF9E00;

$grey-bg: #1d1d1d;
$grey-bg-darker: #181818;

$light-blue:#4CC9F0;
$light-pink: #f72585;
$dark-pink: #b5179e;